li {
    list-style: none;
}

#imgHome {
    width: 1110px;
}

.topHP {
    width: auto;
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(221, 250, 255, 1) 100%), url("./assets/backGround.png");
    background-size: cover;
}

.merryChristmas {
    font-family: 'Mountains of Christmas', cursive;
    color: red;
    letter-spacing: -9px;
    -webkit-text-stroke: 2px white;
    font-size: 90px;
    padding-left: 50px;
    padding-top: 50px;
}

.box {
    position: relative;
}


#snow {
    position: absolute;
    z-index: 1; 
    top: -36px;
}
.snowFlakes {
    display: inline-block;
    font-family: 'Mountains of Christmas', cursive;
    color: red;
    position: absolute;
    z-index: 1;
    font-size: 30px;
}

.ball {
    height: 241px;
    width: 233px;
    margin-left: 438px;
    margin-top: -51px;
}

.ulList {
    font-family: 'Mountains of Christmas', cursive;
    color: black;
    -webkit-text-stroke: 0;
    letter-spacing: normal;
    font-size: 20px;
    padding: 30px 30px 30px 50px;
    background-color:rgb(255, 255, 255, 0.6);
    width: max-content;
    margin-top: -539px;
    margin-bottom: -172px;
    margin-left: 60px;
}

.list {
    display: inline;
    font-family: 'Mountains of Christmas', cursive;
}

/* Bottom right text */
.bottom-right {
    font-size: 80px;
    position: relative;
    bottom: 65px;
    right: -16px;
  }

.imgDay {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.opacity-0 {
    opacity:0!important;
  }
  .opacity-1 {
    opacity:0.2!important;
  }
  .opacity-2 {
    opacity:0.4!important;
  }
  .opacity-3 {
    opacity:0.6!important;
  }
  .opacity-4 {
    opacity:.8!important;
  }
  .opacity-5 {
    opacity:1!important;
  }

.center {
    height: auto;
    background-color:#DDFAFF;
}

/* */

.ulBoxDay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.25em;
    margin: 0;
    list-style: none;
 }

 .liBoxDay {
    flex: 0 0 12%;
    margin: 0.25em 0;
 }

 .border-3 {
    border-width:5px !important;
}


/* Ajout CSS Balls */

.ballnofil {
    height: 144px;
    width: 110px;
    margin-left: 873px;
    margin-top: 7px;
}

.fil {
    height: 261px;
    width: 9px;
    margin-left: 924px;
    margin-top: -669px;
}

.logo1{
    height: 41px;
    width: 90px;
    margin-left: 800px;
    margin-top: -812px;
}

.logo2{
    height: 44px;
    width: 60px;
    margin-left: 897px;
    margin-top: -791px;
}

@media screen and (max-width: 991px) {
    .ball {
        display: none
    }

    .ballnofil {
        display: none
    }

    .fil {
        display: none
    }

    .logo2{
        display: none
    }

    .ulList {
        margin-top: 52px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 1199px) {
    .ball {
        display: none
    }

    .ballnofil {
        display: none
    }

    .fil {
        display: none
    }

    .logo1{
        display: none
    }

    .logo2{
        display: none
    }

    .ulList {
        margin-top: 52px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 991px) {
    .ball {
        display: none
    }

    .ballnofil {
        display: none
    }

    .fil {
        display: none
    }

    .logo1{
        display: none
    }

    .logo2{
        display: none
    }

    .ulList {
        margin-top: 52px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 767px) {
    .ball {
        display: none
    }

    .ballnofil {
        display: none
    }

    .fil {
        display: none
    }

    .logo1{
        display: none
    }

    .logo2{
        display: none
    }

    .ulList {
        margin-top: 52px;
        margin-bottom: 12px;
        margin-left: 0;
    }
}

@media screen and (max-width: 575px) {
    .ball {
        display: none
    }

    .ballnofil {
        display: none
    }

    .fil {
        display: none
    }

    .logo1{
        display: none
    }

    .logo2{
        display: none
    }

    .ulList {
        margin-top: 52px;
        margin-bottom: 12px;
        margin-left: -18px;
    }


@media ( max-width: 64em ){
    .liBoxDay {
    flex: 0 0 24.5%;
  } 
 }

@media ( max-width: 50em ){
    .liBoxDay {
    flex: 0 0 49.5%;
  }
 }
 
@media ( max-width: 25em ){
.liBoxDay {
    flex: 0 0 99.5%;
  }
 }
}  